@font-face {
  font-family: "proxima-nova-soft";
  font-style: normal;
  src: url("ProximaNovaSoft-Regular.otf")format("opentype");
}
.text-bold {
  font-weight: bold;
}
.list-h{
  padding: 0;
  margin: 0;
  height: 100%;
  list-style:none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.list-h .list-h-item{
  text-decoration: none;
}
body {
  font-family: "proxima-nova-soft";
}
.container-fluid {
  background-color: skyblue;
  padding: 0 45px;
}
.container {

}
header {
  background-color: white;
}
header .alert{
  background-color: red;
  height: 35px;
  margin-bottom: 35px;
}
header nav{
  /*background-color: green;*/
  height: 45px;
}
header .brand{
  background-color: yellow;
  height: 100%;
}
header .menu{
  background-color: pink;
  height: 100%;
}
header .menu ul{
  background-color: gray;
}
header .menu li{
  background-color: white;
}
header .contact{
  background-color: orange;
  height: 100%;
}
